<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>A bad phone list!</title>
  </head>
  <body>
    <h1>Phone list</h1>
    <p> {{date[0]}}-{{date[1]}}-{{date[2]}}:</p>
    <ul>
       {% for item in list %}
          <li>{{item[0]}} : {{item[1]}} : {{item[2]}}: {{item[3]}} : {{item[4]}}
            e-mail : {{item[5]}}
          </li>
       {% endfor %}
    </ul>

<form action="/delete" method="post">
   <label for="name">Delete:</label><br>
   <input type="text" id="id" id="id" value="0">
   <input type="submit" value="Delete">
</form>
    <!-- <form action="/insert"> -->
<form action="/insert" method="post">
   <label for="name">Insert:</label><br>
   <input type="text" id="name" name="name" value="Ture"><br>
   <input type="text" id="phone" name="phone" value="011-852741"><br>
   <input type="text" id="address" name="address" value="Baker Street"><br>
   <input type="text" id="city" name="city" value="london"><br>
   <input type="text" id="mail" name="mail" value="test@something.com"><br>
   <input type="submit" value="Insert">
  </body>
</html>

